
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<div class="jumbotron" style="background: linear-gradient(127deg, rgba(0,0,0,.4), rgba(0,0,0,0.1) 70%)">
    <div class="container">
        <h1 class="display-3">Hello World!</h1>
        <p>
            ░░░░░░░░░░░▄▀▄▀▀▀▀▄▀▄░░░░░░░░░░░░░░░░░░<br>
            ░░░░░░░░░░░█░░░░░░░░▀▄░░░░░░▄░░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀░░▀░░░░░▀▄▄░░█░█░░░░░░░░░<br>
            ░░░░░░░░░░█░▄░█▀░▄░░░░░░░▀▀░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░▀▀▀▀░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░█░░░░░░░░░░░░░░░░░░█░░░░░░░░░<br>
            ░░░░░░░░░░░█░░▄▄░░▄▄▄▄░░▄▄░░█░░░░░░░░░░<br>
            ░░░░░░░░░░░█░▄▀█░▄▀░░█░▄▀█░▄▀░░░░░░░░░░<br>
            ░░░░░░░░░░░░▀░░░▀░░░░░▀░░░▀░░░░░░░░░░░░<br>
        </p>
    </div>
</div>